@model OrderSystem.Models.OrderViewModel
@{
    ViewBag.Title = "Creat";
}

@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
    </script>
}

@using (Html.BeginForm("Creat", "Home", FormMethod.Post, new { name = "CreatForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>新增訂單</h3>
        <hr />        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-lg-1">
                <label style="color:red;">*為必填</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-1">
                <label style="color:red;">*</label>
                @Html.DisplayNameFor(m => m.CompanyName)
            </div>
            <div class="col-lg-3">                
                @Html.DropDownList("CustomerID", (IEnumerable<SelectListItem>)ViewBag.CustomerID, htmlAttributes: new { @class = "form-control" })                
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-1">
                <label style="color:red;">*</label>
                @Html.DisplayNameFor(m => m.EmployeeID)
            </div>
            <div class="col-lg-3">
                @Html.DropDownList("EmployeeID", (IEnumerable<SelectListItem>)ViewBag.EmployeeID, htmlAttributes: new { @class = "form-control"})                                         
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-1">
                <label style="color:red;">*</label>
                @Html.DisplayNameFor(m => m.OrderDate)
            </div>
            <div class="col-lg-3">
                <input type="date" class="form-control" name="OrderDate">                
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-1">
                <label style="color:red;">*</label>
                @Html.DisplayNameFor(m => m.RequiredDate)
            </div>
            <div class="col-lg-3">
                <input type="date" class="form-control" name="RequiredDate">
            </div>
        </div>        

        <div class="form-group">
            <div class="col-lg-2">
                <input type="submit" value="新增" class="btn btn-info">
            </div>
            <div class="col-lg-1">

            </div>
        </div>

    </div>
}