@model OrderSystem.Models.EditOrderViewModel

@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
    </script>
}

@using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { name = "EditForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <h3>修改訂單</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            <div class="col-lg-1">
                <label style="color:red;">*為必填</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-1">
                @Html.DisplayNameFor(m => m.OrderID)
            </div>
            <div class="col-lg-3">                
                @Html.Label(Model.OrderID.ToString())
                @Html.HiddenFor(m => m.OrderID)
            </div>            
        </div>        
        <div class="form-group">
            <div class="col-lg-1">                
                @Html.DisplayNameFor(m => m.EmployeeID)
            </div>
            <div class="col-lg-3">                
                @Html.Label(Model.EmployeeID.HasValue ? Model.EmployeeID.Value.ToString() : "")            
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-1">
                <label style="color:red;">*</label>
                @Html.DisplayNameFor(m => m.CompanyName)
            </div>
            <div class="col-lg-3">
                @Html.DropDownList("CustomerID", (IEnumerable<SelectListItem>)ViewBag.CustomerID, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-1">
                <label style="color:red;">*</label>
                @Html.DisplayNameFor(m => m.OrderDate)
            </div>
            <div class="col-lg-3">                
                <input type="date" class="form-control" name="OrderDate" value=@Model.OrderDate.Value.ToString("yyyy-MM-dd")>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-1">
                <label style="color:red;">*</label>
                @Html.DisplayNameFor(m => m.RequiredDate)
            </div>
            <div class="col-lg-3">
                <input type="date" class="form-control" name="RequiredDate" value= @Model.RequiredDate.Value.ToString("yyyy-MM-dd")>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-2">
                <input type="submit" value="儲存" class="btn btn-info">
            </div>
            <div class="col-lg-1">

            </div>
        </div>

    </div>
}