@model IEnumerable<OrderSystem.Models.OrderViewModel>

@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
    </script>
}

<br />
<div>
    @Html.ActionLink("新增訂單", "Creat", null, new { @class = "btn btn-info" })
</div>
<br />

<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.OrderID)</th>
                <th style="display:none">@Html.DisplayNameFor(m => m.CustomerID)</th>
                <th>@Html.DisplayNameFor(m => m.CompanyName)</th>
                <th style="display:none">@Html.DisplayNameFor(m => m.EmployeeID)</th>
                <th>@Html.DisplayNameFor(m => m.EmployeeName)</th>
                <th>@Html.DisplayNameFor(m => m.OrderDate)</th>
                <th>@Html.DisplayNameFor(m => m.RequiredDate)</th>
                <th>異動</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(x => m.OrderID)</td>
                    <td style="display:none">@Html.DisplayFor(x => m.CustomerID)</td>
                    <td>@Html.DisplayFor(x => m.CompanyName)</td>
                    <td style="display:none">@Html.DisplayFor(x => m.EmployeeID)</td>
                    <td>@Html.DisplayFor(x => m.EmployeeName)</td>
                    <td>@Html.DisplayFor(x => m.OrderDate)</td>
                    <td>@Html.DisplayFor(x => m.RequiredDate)</td>
                    <td>
                        @Html.ActionLink("編輯", "Edit", new { OrderID = m.OrderID, CustomerID = m.CustomerID, EmployeeID = m.EmployeeID, OrderDate = m.OrderDate, RequiredDate = m.RequiredDate }, htmlAttributes: new { @class = "btn btn-primary" })
                        @Html.ActionLink("刪除", "Delete", new { OrderID = m.OrderID, CompanyName  = m.CompanyName, EmployeeName = m.EmployeeName, OrderDate = m.OrderDate, RequiredDate = m.RequiredDate }, htmlAttributes: new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>